// palette
$ciel: #3aa6f4;
$blue-1: #c6e7ff;
$blue-2: #60ace2;
$blue-3: #1a82cb;
$blue-4: #0764a6;
$fuchsia: #ed2f7e;
$lime: #97b314;

// theme_settings
$theme-primary-color: $ciel;
$theme-secondary-color: $lime;
$theme-alert-color: $fuchsia;
$theme-success-color: $lime;
$theme-info-color: $orange;


$theme-anchor-font-color: $blue-4;
$theme-anchor-font-color-hover: $ciel;

$theme-inactive-color: #838282;
$theme-primary-color-light: $blue-1;
$theme-secondary-color-light: #d0f0c7;

$theme-header-background: $theme-primary-color;

$theme-guide-bg-color: $lime;
