include README Changelog
recursive-include synnefo_ui/static/snf-ui *.js *.css *.html *.png *.gif *.jpg
recursive-include synnefo_ui/static/snf-ui/fonts *.*
recursive-include synnefo_ui/static/snf-ui/assets/fonts *.*
prune docs
prune other
