{{#link-to (query-params view=otherView) }}
    <span {{bind-attr data-view="otherView"}}>
        {{fa-icon "fa-th"}}
        {{fa-icon "fa-list"}}
    </span>
    <label>{{otherView}} view</label>
{{/link-to}}
