.top-bar {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top: $header-height;
    width: 100%;
    z-index: 100;
    left: 0;
    padding: rem-calc(0 0 0 20px); 
    box-shadow: 2px 2px 8px #888;
    .top-bar-section {
        .breadcrumbs {
            &> *:before {
                margin: rem-calc(0 2px);
            }
            li {
                text-transform: none;
                a {
                    padding: rem-calc(0 5px);
                    display: inline;
                }
                &:hover {
                    a {
                        background: transparent;
                        color: inherit;
                    }
                }
            }
        }
        .right {
            li {
                border-left: 1px solid #d8d8d8;
                text-align: center;
                a {
                    line-height: inherit;
                    height: $topbar-height;
                    padding: rem-calc(15px 15px 0);
                    &:hover {
                        text-decoration: none;
                    }
                }
                &:hover {
                    label {
                        color: $topbar-link-color-hover;
                    }
                }
            }
        }
        li.disabled {
            opacity: 0.5;
            a:hover {
                cursor: default;
                background: inherit;
                color: inherit;
            }
            &:hover label {
                color: $body-font-color;
            }
        }
        label {
            display: block;
            font-size: rem-calc(12);
        }
        .fa {
            font-size: rem-calc(18);
        }
    }
    select {
        width: 200px;
        margin: 10px;
    }
}
