.top-bar-wrapper {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top: $header-height;
    width: 100%;
    z-index: 100;
    left: 0;
}
.top-bar {
    padding: rem-calc(0 0 0 20px); 
    .top-bar-section {
        .breadcrumbs {
            &> *:before {
                margin: rem-calc(0 2px);
            }
            li {
                background: inherit;
                a {
                    padding: rem-calc(0 5px);
                    display: inline;
                }
                &:hover {
                    a {
                        background: transparent;
                        color: inherit;
                    }
                }
 
                &.current {
                    a {
                        color: inherit;
                    }
                }
            }
        }
        li.divider {
            border-right-color: #d8d8d8;
        }
    }
    .fa {
        font-size: rem-calc(16);
    }
}
