body {
    background: url("../assets/images/fabric_of_squares_gray.png");
    // background: url('http://subtlepatterns.com/patterns/symphony.png');
}

.app {
    height: 100%;
}

:focus {
    outline-color: $primary-color;
}

.clearfix {
    >.lt {
        float: left;
    }
    >.rt {
        float: right;
    }
}

.main {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: ($topbar-height + $header-height) 0 $topbar-height;
    right: 0;
    top: 0;
}

.content {
    height: 100%;
    overflow-y: auto;
    padding-top: $default-padding;
}

// button class
.btn-minor {
    @include button($button-med, $theme-inactive-color, inherit, false, false, false)
}

.danger {
    color: $danger-color;
    font-size: rem-calc(14);
    font-weight: bold;
}

.subtle {
    color: $theme-inactive-color;
    font-size: rem-calc(13px);
    font-style: italic;
}

.sidebar {
    background: $topbar-bg-color;
    height: 100%;
    overflow-y: auto;
    padding-top: $default-padding;
    h4 .active {
        color: $body-font-color;
    }
}

#loader {
    padding: 3em;
    text-align: center;
    h4 {
        color: $theme-alert-color;
        margin: 1em;
    }
}

.fa-spin {
    color: $jumbo;
}

.hidden {
    display: none !important;
}

@include keyframes(background-change) {
    0% { background-color: $theme-primary-color-light; }
    100% { background-color: $items-bg-color; }
}

.new .wrap {
    @include animation("background-change 4s");
}

.icon-a {
    border: 2px dotted $theme-anchor-font-color;
    border-radius: 50%;
    margin: 0 2px;
    padding: 2px;
    &:hover {
        border-color: $theme-anchor-font-color-hover;
        border-style: solid;
    }
    &[disabled] {
        border-color: $theme-inactive-color;
        border-style: dotted;
        color: $theme-inactive-color;
        cursor: default;
    }
}

.arrow-down, 
.arrow-up {
    margin-left: 6px;
    vertical-align: middle;
}

.arrow-down {
    display: initial;
}
.arrow-up {
    display: none;
}

.slide-container.open {
    .arrow-down {
        display: none;
    }
    .arrow-up {
        display: initial;
    }
}

.margin-zero {
    margin: 0 !important;
}

.u-wrap {
    word-wrap: break-word;
}

table {
    border-spacing: 0;
    width: 100%;
}

span[data-tooltip] {
    display: inline-block;
}
