body {
    /*background: url('../assets/images/fabric_of_squares_gray.png');*/
    background: url('http://subtlepatterns.com/patterns/symphony.png');
}

:focus {
    outline-color: $primary-color;
}

.clearfix {
    &>.lt {
        float: left;
    }
    &>.rt {
        float: right;
    }
}

.main {
    padding: $default-padding;
    padding-bottom: $topbar-height;
}

.fixed + .main {
    padding-top: $default-padding + $topbar-height;
}

// button class
.btn-minor {
    @include button($button-med, $theme-inactive-color, inherit, false, false, false)
}

.icon-btn {
    display: inline-block;
    padding: rem-calc(4px 8px);
    color: #fff;
    margin: 0 5px;
    border-radius: 2px;
    &:hover {
        color: #fff;
        background: $theme-anchor-font-color-hover;
        text-decoration: none;
    }
    i {
        font-size: rem-calc(20px);
    }
}

tr:hover, li:hover {
    .icon-btn {
        background: $theme-anchor-font-color; 
        &:hover {
            background: $theme-anchor-font-color-hover;
        }
    }
    .icon-a {
        color: $theme-anchor-font-color;
        border-color: $theme-anchor-font-color;
        &:hover {
            color: $theme-anchor-font-color-hover;
            border-color: $theme-anchor-font-color-hover;
        }
        &[disabled] {
            color: $theme-inactive-color;
            border-color: $theme-inactive-color;
            border-style: dotted;
        }

    }
}
 

.danger {
    font-weight: bold;
    font-size: rem-calc(14);
    color: red;
}

span.subtle {
    color: $theme-inactive-color;
    font-size: rem-calc(13px);
    font-style: italic;
}

.sidebar {
    h4 a.active {
        color: $body-font-color;
    }
}

#loader {
    text-align: center;
    padding: 3em;
    color: gray;
}

.fl-right {
    float: right;
}


.hidden {
    display: none!important;
}

@include keyframes(background-change) {
    0% { background-color: $theme-primary-color-light; }
    100% { background-color: #fff; }
}

.new .wrap, .new ~td {
    @include animation('background-change 2s');
}

.icon-a {
    border-radius: 50%;
    padding: 2px;
    margin: 0 2px;
    border: 2px dotted $theme-inactive-color;
    color: $theme-inactive-color;
    &:hover {
        border-color: $theme-anchor-font-color;
        border-style: solid;
        color: $theme-anchor-font-color;
    }
    &[disabled] {
        color: $theme-inactive-color;
        border-color: $theme-inactive-color;
        border-style: dotted;
    }
}

.arrow-down, .arrow-up {
        margin-left: 6px;
        vertical-align: middle;
    }
.arrow-down {
    display: initial;
}
.arrow-up {
    display: none;
}

.slide-container.open {
    .arrow-down {
        display: none;
    }
    .arrow-up {
        display: initial;
    }
}

