.containers {
    &.list {
        .actions-col {
            width: 10%;
        }

    }
    .name-col {
        .trash-icon {
            display: none;
        }
        .fa-external-link {
            font-size: rem-calc(14);
            font-weight: bold;
            margin-left: rem-calc(4);
            visibility: hidden;
        }
        a:hover {
            .fa-external-link {
                visibility: visible;
            }
        }
    }
    .is-trash {
        .wrap {
            background: $trash-bg-color; 
        }
        .trash-icon {
            display: inline-block;
        }
    }
}

