.containers {
    list-style-type: none;
    .container {
        padding: 0 10px;
        max-width: initial;
        display: block;
        border-bottom: 1px solid rgb(194, 237, 247);
        border-right: 1px solid rgb(194, 237, 247);
        border-left: 1px solid rgb(194, 237, 247);
        &:hover {
            background-color: #ececec;
        }
        &:first-child {
            border-top: 1px solid rgb(194, 237, 247);
            min-height: 60px;
            line-height: 60px;
            .slide-area {
                display: none;
            }
            .slide-area div:first-of-type {
                text-align: left;
                line-height: 100px;
            }
        }
    }
    .part {
        height: 100px;
        padding: 0;
        &:not(:first-child ), {
            line-height: 100px;
            text-align: center;
            }
    }
    .usage {
        display: none;
    }
    &.grid-view {
         .usage {
            display: initial;
        }
        .container {
            min-width: 250px;
            max-width: 380px;
            border: 1px solid rgb(194, 237, 247);
            width: 32%;
            float: left;
            margin: 6px;
            padding: 10px;
            text-align: center;
            .slide-area .input-with-valid {
                display: initial;
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
        .part {
            height: initial;
            line-height: initial;
        }
    }
    // pie charts
    // the below lines should be used in scss of chartist
    $free-space: #55D36A;
    $size: #6BA0E5;
    $used-by-other: #A6A0A0;
    .ct-chart {
        display: inline-block;
        text.ct-label {
            fill: black;
        }
        .ct-chart-pie .ct-series {
            &.ct-series-a {
                .ct-slice {
                    fill: $used-by-other;
                    }
                    .ct-label {
                        fill: darken($used-by-other, 30%);
                    }
                }
            &.ct-series-b {
                .ct-slice {
                    fill: $size;
                }
                .ct-label {
                    fill: darken($size, 40%);
                }
            }
            &.ct-series-c {
                .ct-slice {
                    fill: $free-space;
                }
                .ct-label {
                    fill: darken($free-space, 20%);
                }
            }
        }
    }

    .legend {
        display: inline-block;
        li {
            text-align: left;
            list-style-type: none;
        }
        .color {
            width: 10px;
            height: 10px;
            display: inline-block;
            &.ct-series-a {
                background-color: $used-by-other;
            }
            &.ct-series-b {
                background-color: $size;
            }
            &.ct-series-c {
                background-color: $free-space;
            }
        }
    }
    .container {
        .slide-area {
            margin: 0;
        }
        .arrow-down, .arrow-up {
            margin-left: 10px;
        }
        .arrow-down {
            display: initial;
        }
        .arrow-up {
            display: none;
        }
    }
    .container.open {
        .arrow-down {
            display: none;
        }
        .arrow-up {
            display: initial;
        }
    }
}

