.reveal-modal {
    h3 {
        text-align: center;
        margin-bottom: rem-calc(16);
    }
    .cancel {
        float: right;
    }
    .button + .secondary {
        margin-left: 4em;
    }

    // Groups dialog
    .group-icon {
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .slide-me {
        display: none;
    }

    .side-btn-modal {
        float: right;
    }
}