$dragBgCol: #8A75A5;
$dragFgCol: #FFFFFF;

.drag-active {
    .upload-area {
        display: block;
    }
}

.upload-area {
    border: 3px dashed $dragFgCol;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.8;
    background: $theme-alert-color;
    color: $dragFgCol;
    z-index: 1;
    padding-top: 5%;
    text-align: center;
    font-size: rem-calc(24);
}


.dropfiles {
    @include bar-style();
    z-index: 100;
    right: 0;
    left: 0;
    position: fixed;
    max-height: 2 * $header-height;
    overflow: auto;
    bottom: 0;
    .title {
        font-weight: bold;
        font-size: rem-calc(13);
    }
    >.row {
        padding: 0 $default-padding;
    }

    .file {
        font-size: 0.8em;
        &:hover {
            background: darken($topbar-bg, 10%); 
        }
        &:last-child {
            margin-bottom: 1rem;
        }
    }
    .batch-actions {
        .right {
            text-align: right;
            label {
                display: inline;
            }
        }
    }
    .actions {
        a {
            margin: 0 8px;
        }
      }
}
