.footer {
    @include bar-style();
    font-size: rem-calc(12);
    height: $topbar-height;
    margin-top: - $topbar-height;
    padding: $default-padding;
    position: relative;
    z-index: 99;
}

