.footer {
    background-color: $topbar-bg-color;
    position: fixed;
    bottom:0;
    width: 100%;
    padding: $default-padding;
    box-shadow: -2px -2px 8px #888;
    font-size: rem-calc(12);
}

