.input-with-valid {
    margin-bottom: 1rem;
    position: relative;
    &.input-partial {
        display: block;
        margin-bottom: 50px;
        input {
            width: 500px;
        }

        .info > span {
            width: 500px;
        }
    }

    .info {
        margin-bottom: 1rem;
        margin-top: -1px;
        position: absolute;
        .invisible {
            display: none;
            visibility: hidden;
            z-index: 1;
        }
        .warning {
            background-color: #f0a024;
        }
        .info-msg {
            margin-left: 10px;
        }
        > span {
            color: #FFFFFF;
            display: block;
            font-size: 0.75rem;
            font-style: italic;
            font-weight: normal;
            padding: 0.375rem 0.5625rem 0.5625rem;
            width: 200px;
        }
    }
    input {
        margin-bottom: 0;
    }
    input.error {
        border-color: #f04124;
    }
    input.warning {
        border-color: #f0a024;
    }
}

body .input-emails {
    .tile {
        display: inline-block;
        height: 1.3rem;
        margin: 2px 4px;
        padding: 0 0 0 4px;
        font-size: 14px;
        .email {
            color: white;
            font-style: normal;
        }
        &.loading {
            background-color: antiquewhite;
        }
        &.error {
            background-color: #C73737;
        }
        &.success {
            background-color: #44BD4F;
        }
        .sign {
            margin-left: 6px;
            padding: 2px;
            background: #A9A1B6;
            color: white;
            font-size: 17px;
            height: 100%;
            vertical-align: top;

        }
    }
    input, input:focus {
        border: none;
        box-shadow: none;
    }
    .container-emails {
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.3rem;
        width: 100%;
        button {
            margin: 1rem 0 0;
        }
    }
}



textarea {
    margin-bottom: 0;
}


.create-group {
    display: none;
    label {
        margin-bottom: 6px;
    }
    .buttons {
        button:first-child {
            margin-left: 40px;
        }
        button:last-child {
            float: right;
            margin-right: 40px;
        }
    }
}

input[type="radio"] {
    margin: 0;
}
