.grid {
    @include block-grid(4);
    .wrap {
        padding: 10px 15px;
        background: #fff;
        &:hover {
            @include box-shadow();
            h4 a {
                color: $theme-anchor-font-color;
                &:hover {
                    color: $theme-anchor-font-color-hover;
                }
            }
        }
    }
    .loader {
        padding-top: 50px;
    }
    h4 {
        text-align: center;
        word-break: break-all;
    }
    dl {
        font-size: rem-calc(14);
        margin-bottom: 1rem;
        dt {
            float: left;
            width: 30%;
            font-weight: normal;
            margin-bottom: 1px;
        }
        dd {
            text-align: right;
            font-weight: bold;
            margin-bottom: 1px;
            @extend .clearfix;
        }
    }
    .label {
        position: absolute;
        right: 15px;
        bottom: 10px;
    }
}
