/* Header ----------------------------------------------- */

.header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    height: $header-height;
    padding: $default-padding;
    background: #fff;
    nav {
        float: left;
        ul {
            margin: 0;
            li {
                float: left;
                list-style: none outside none;
                padding-left: 20px;
            }
        }
    }
    .logo {
        &:hover {
            transform: scale(1.05);
            transition: 0.2s;
        }
        float:left;
        img {
            max-height: 40px;
        }
    }
    
}
