/* Header ----------------------------------------------- */

.header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    height: $header-height;
    nav {
        ul {
            margin: 0;
            li {
                float: left;
                list-style: none outside none;
                padding-left: 20px;
            }
        }
    }
    .logo {
        float: left;
        img {
            max-height: 40px;
        }
    }
    
}
