.clearfix {
    &>.lt {
        float: left;
    }
    &>.rt {
        float: right;
    }
}

.main {
    margin-top: $header-height + $topbar-height;
    padding: $default-padding;
}

.sidebar {
    position: fixed;
    top: $header-height+ $topbar-height+ $default-padding;
    bottom: 0;
    overflow-y: scroll;
}
