$list-line-height : 40px;

.list {
    font-size: rem-calc(14);
    li:first-child {
        .wrap {
            background: darken($table-even-row-bg, 5%); 
            font-weight: bold;
        }
        .select-col {
            min-width: 260px;
        }
    }
    .wrap {
        background: $items-bg-color;
        border-top: 1px solid transparent;
        padding: rem-calc(2 8);
    }
    h4 {
        font-size: rem-calc(14);
        line-height: $list-line-height;
        margin: 0;
        a {
            display: inline-block;
            line-height: rem-calc(20);
            width: 100%;
        }
    }
    .col {
        float: left;
        padding: 0 5px;
        position: relative;
    }
    dl {
        display: none;
    }
    select {
        margin: 0;
        min-width: 250px;
    }
    li {
        line-height: $list-line-height;
    }
    li:nth-child(2n) {
        .wrap {
            background: $table-even-row-bg;
        }
    
    }
    li:not(:first-child):hover {
        .wrap {
            background: $theme-primary-color-light; 
        }
    }
    .name-col {
        width: 32%;
        .hint:after, 
        [data-hint]:after {
            max-width: 300px;
            white-space: initial;
            word-wrap: break-word;
        }
    }
    .actions-col {
        float: right;
        text-align: right;
    }

    .data-col {
        min-width: 8%;
        text-align: right;
    }
    .date-col {
        min-width: 12%;
        text-align: right;
        .subtle {
            display: block;
            margin-top: - $list-line-height/2;
        }
    }
    .select-col {
        min-width: 250px;
        width: 22%;
        select {
            margin: 0;
            width: 100%;

        }
        span {
            float: left;
        }
    }
    .loader {
        padding-top: 5px;
    }
    .label {
        right: 0;
        top: 1px;
    }
}
