.objects {
    li:first-child {
        .select-col {
            min-width: 100px;
        }
    }
    &.list {
        .select-col {
            min-width: 100px;
            text-align: right;
            width: auto;
        }
        .actions-col {
            min-width: 25%;
        }
        .label {
            top: 10px;
        }

    }
    .name-col {
        .js-name {
            em {
                color: $aluminum;
                font-size: rem-calc(12);
                font-style: normal;
            }
        }
        form {
            display: inline;
        }
        .js-show-edit {
            display: none;
        }
    }
    li:hover {
        .js-show-edit {
            display: inline;
        }
    }
    .input-with-valid {
        margin: 0;
    }

    .folder-user {
        position: absolute;
        bottom: rem-calc(30);
        left: rem-calc(15);
        line-height: rem-calc(21);
        text-align: center;
        width: rem-calc(21);
        .fa-folder {
            font-size: rem-calc(21);
        }
        .fa-user {
            font-size: rem-calc(11.2);
            color: #fff;
        }
        &>* {
            position: absolute;
            width: 100%;
            line-height: inherit;
        }
    }
}

