$header-height: 80px;
$default-padding: 20px;

// palette
$purple: #9561D7;
$snf-green: #00A551;
$orange: orange;
$tomato: tomato;
$lime: #97B314;
$green-1: #45C182;
$green-2: #21B469;
$green-3: #008441;
$green-4: #006733;
$green-lime: #17A500;

// theme_settings
$theme-primary-color: $snf-green;
$theme-secondary-color: $orange;
$theme-alert-color: $tomato;
$theme-success-color: $green-1;

$theme-anchor-font-color: $green-4;
$theme-anchor-font-color-hover: $lime;

$theme-inactive-color: #838282;
$theme-primary-color-light: $green-1;
