// palette
$ciel: #3C96D7;
$blue-1: #8EC6ED;
$blue-2: #60ACE2;
$blue-3: #1A82CB;
$blue-4: #0764A6;
$fuchsia: #ED2F7E;
$lime: #97B314;

// theme_settings
$theme-primary-color: $ciel;
$theme-secondary-color: $lime;
$theme-alert-color: $fuchsia;
$theme-success-color: $lime;


$theme-anchor-font-color: $blue-4;
$theme-anchor-font-color-hover: $ciel;

$theme-inactive-color: #838282;
$theme-primary-color-light: $blue-1;

$theme-header-background: $theme-primary-color;
