$wrap-radius: 6px;
$wrap-bg-color: $theme-primary-color-light;

.quotas-container {
    display: inline-block;

    &>* {
        float: left;
    }
    .rest {
        display: inline-block;
        height: 100%;
        background-color: transparent;
    }

    .meter {
        float: left;
    }

    ul {
        list-style-type: none;
        margin: 1rem;
        li {
            margin-bottom: 1.3em; 
            h5 {
                font-size: 1rem;
                font-weight: bold;
                margin: 0;
                line-height: 1;
            }
            p {
                font-size: 0.8rem;
                margin: 0.4rem 0 0.2rem;
            }
        }
    }
    .size {
        position: absolute;
        bottom: 1px;
        margin: 0 6px;
        font-size: 0.8rem;
        opacity: 0;

       transition: opacity 0.3s;
       -moz-transition: opacity 0.3s;
       -webkit-transition: opacity 0.3s;
    }

    .size.appear {
        opacity: 1;
    }
    .progress {
        position: relative;
    }
}
