@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300italic);
@import "settings";

@import "settings_reference";
@import "foundation";

@import "global";

body {
    letter-spacing: 0.5px;
}

span.subtle {
    color: $aluminum;
    font-size: rem-calc(12px);
}

#loader {
    text-align: center;
    padding: 3em;
    color: gray;
}
input[type="text"]{
    width: 200px;
    display: inline;
}

table td img {
    height: 40px;
}

.droppable {
    color: white;
    padding: 10px 20px;
    background: $secondary-color;
    margin: 0 0 20px;
    a {
        color: white;
    }
}
.counts {
    li {
        display: inline-block;
    }
}

div.droppable div.file {
    margin: 1em;
    float: left;
    img {
        height: 60px;
        border: 2px solid white;
    }
}

.panel a.close {
    float: right;   
    font-size: 15px;
}

.obvious {
    font-size: 16px;
    color: #0DA3FF;
}

.reveal-modal .button {
    position: inherit;
    color: white;
}
.btn-block {
    display: block;
}

.input-with-valid {
    display: inline-block;
    position: relative;
    &.input-partial {
        display: block;
        margin-bottom: 50px;
        input {
            width: 500px;
        }

        .info > span {
            width: 500px;
        }
    }

    .info {
        position: absolute;
        margin-top: -1px;
        margin-bottom: 1rem;
        .invisible {
            visibility: hidden;
            display: none;
            z-index: 1;
        }
        .warning {
            background-color: #f0a024;
        }
        .info-msg {
            margin-left: 10px;
        }
        > span {
        width: 200px;
        display: block;
        padding: 0.375rem 0.5625rem 0.5625rem;
        font-size: 0.75rem;
        font-weight: normal;
        font-style: italic;
        color: #FFFFFF;
    }
    }
    input {
        margin-bottom: 0;
    }
    input.error {
        border-color: #f04124;
    }
    input.warning {
        border-color: #f0a024;
    }
}

.create-group {
    display: none;
    label {
        margin-bottom: 6px;
    }
    .buttons {
        button:first-child {
            margin-left: 40px;
        }
        button:last-child {
            float: right;
            margin-right: 40px;
        }
    }
}
.input-emails {
    .tile {
        display: inline-block;
        height: 1.3rem;
        margin: 2px 4px;
        padding: 0 0 0 4px;
        font-size: 14px;
        .email {
            color: white;
            font-style: normal;
        }
        &.loading {
            background-color: antiquewhite;
        }
        &.error {
            background-color: #C73737;
        }
        &.success {
            background-color: #44BD4F;
        }
        .sign {
            margin-left: 6px;
            padding: 2px;
            background: #A9A1B6;
            color: white;
            font-size: 17px;
            height: 100%;
            vertical-align: top;

        }
    }
    input, input:focus {
        border: none;
        box-shadow: none;
        // padding: 0;
        // height: inherit;
        width: 420px;
    }
    .container-emails {
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        // padding: 4px;
        margin-bottom: 1rem;
        // height: 2.3125rem;
        padding: 0.3rem;
        width: 500px;
        display: inline-block;
        button {
            margin-bottom: 0;
        }
    }
}

// totally temp!
.btn-create-container {
    display: block;
}
.side-select {
    select {
        width: 65%;
        vertical-align: top;
    }
}

.fl-right {
    float: right;
}

.buttons {
    .close-btn {
        font-size: 0.8125rem;
        line-height: normal;
        font-weight: normal;
    }
}

textarea {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.icon-btn {
    display: inline-block;
    padding: rem-calc(4px 8px);
    color: #fff;
    margin: 0 5px;
    border-radius: 2px;
    &:hover {
        color: #fff;
        background: darken($primary-color, 10%);
    }
    i {
        font-size: rem-calc(20px);
        padding-left: rem-calc(8px);
    }
}

table {
    &:focus {
        outline: 0 none;
    }
    width: 100%;
    .size, .last-modified {
        text-align: right;
    }
    .share {
        float: right;
    }
    .name {
        width: 45%;
        .js-name {
            span {
                max-width: 340px;
                text-overflow: ellipsis;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                vertical-align: top;
            }
        }
    }
    tr .icon-btn {
        background: $gainsboro;
    }
    tr:hover {
        td {
            background: darken($table-even-row-bg, 5%); 
        }
        .icon-btn {
            background: $primary-color; 
        }
        .rename i {
            visibility: visible;
        }
    }
    tr.to-paste {
        td {
            background-color: $warning-color;
            color: #fff;
            a {
                color: #fff;
            }
        }
    }
 
    tr.is-selected {
        td {
            background-color: $alert-color;
            color: #fff;
            a {
                color: #fff;
            }
        }
    }
   th {
        text-transform: capitalize;
        span {
            margin-left: 0.5em;
        }
    }
    th a {
        color: $body-font-color;
    }
    th.th-sort {
        .fa-sort-desc, .fa-sort-asc {
            display: none;
        }
        .fa-sort {
            display: inline-block;
        }
    }
    th.th-desc {
        .fa-sort-asc, .fa-sort {
            display: none;
        }
        .fa-sort-desc {
            display: inline-block;
        }
    }   
    
    th.th-asc {
        .fa-sort-desc, .fa-sort {
            display: none;
        }
        .fa-sort-asc {
            display: inline-block;
        }
    }
}

.footnote {
    color: $aluminum;
    font-size: rem-calc(14px);
    font-style: italic;
}

.rename {
    i {
        visibility: hidden;
    }
}


.dir-tree{
    list-style: none outside none;
    margin-left: 0;
    ul {
        list-style: none outside none;
    }
}

@import "dropfile";
