@import "settings";

@import "foundation/settings";
@import "foundation";

@import "global";

@import "error-pages";

#loader {
    text-align: center;
    padding: 3em;
    color: gray;
}
input[type="text"]{
    width: 200px;
    display: inline;
}

table td img {
    height: 40px;
}

.droppable {
    color: white;
    padding: 10px 20px;
    background: $secondary-color;
    margin: 0 0 20px;
    a {
        color: white;
    }
}
.counts {
    li {
        display: inline-block;
    }
}

div.droppable div.file {
    margin: 1em;
    float: left;
    img {
        height: 60px;
        border: 2px solid white;
    }
}

.panel a.close {
    float: right;   
    font-size: 15px;
}

.obvious {
    font-size: 16px;
    color: #0DA3FF;
}

.reveal-modal .button {
    position: inherit;
    color: white;
}

.input-with-valid {
    display: inline-block;
    .error.invisible {
        visibility: hidden;
    }
    input {
        margin-bottom: 0;
    }
    input.error {
        border-color: #f0a024;
    }
    .error-msg {
        margin-left: 10px;
    }
}

// totally temp!
.btn-create-container {
    display: block;
}
.side-select {
    select {
        width: 65%;
        vertical-align: top;
    }
}