<h3>Create container</h3>
<form {{action 'validateCreation' 'createContainer' on="enter" }}>
    {{view 'input-single' placeholder='Create Container...' autofocus=true}}

    {{view "select" content=projects
                    optionLabelPath="content.select_label"
                    optionValuePath="content.id"
                    selection=newProject}}
    <p>
        <button class="button small" {{action 'validateCreation' 'createContainer' }}>Create container</button>
    </p>
</form>
