<h3>Create directory</h3>
<p>New directory in <strong>{{path}}</strong></p>
<form {{action 'validateCreation' 'createDir' on="enter"}}>
    {{view "input-single" placeholder="Directory name" autofocus=true controller=controller}}
    <p>
        <button class="button small" {{action 'validateCreation' 'createDir'}}>Create</button>
    </p>
</form>
