<h3>Contact</h3>
<p>If you would like to contact us for any reason, please feel free to write
your message in the following form. Feedback and suggestions are
also highly appreciated.</p>
<label>Message
{{view 'textarea-with-validation' autofocus=true}}
</label>
<p>
	<a class="button small close-modal btn-minor">Cancel</a>
	<a href="" class="button small right" {{action 'validateTextArea'}}>Send</a>
</p>
