<h3>Object exists</h3>

<p>The object <strong class="u-wrap">{{model.name}}</strong> already exists in its destination location.</p>
<p>Do you want to make a copy of it or create a new version?</p>

{{#view "buttons"}}
    <button class="js-btn-close-modal info" {{action "version" this}}>Create new version</button>
    <button class="js-btn-close-modal" {{action "copy" this}}>Create copy</button>
{{/view}}
