Source: snf-ui-app
Section: python
Priority: optional
Maintainer: Kostas Papadimitriou <kpap@grnet.gr>
Build-Depends: debhelper (>= 8), python-all (>= 2.5), nodejs, npm
Standards-Version: 3.9.2
X-Python-Version: >= 2.7
Homepage: https://github.com/grnet/snf-ui-app

Package: snf-ui-app
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Recommends: snf-webproject
Description: Synnefo UI app

