<p>Create new directory in <strong>{{path}}</strong></p>
{{view 'input-with-validation' placeholder="Create new directory"}}
<button {{action 'validateCreation' 'createDir'}} class="small">OK</button>
