<p>Create new directory in <strong>{{path}}</strong></p>
{{view "input-single" placeholder="Create new directory"}}
<p>
    <a {{action 'validateCreation' 'createDir'}} class="button small">OK</a>
</p>
