<h4>Restore <em>{{name}}</em></h4>
<p>Choose a folder to restore to:</p>
{{#if selected}}
    <p>Selected path: {{selectedDir}}<br>
    <a class="button small" {{action "restoreObject"}}>Restore</a></p>
{{/if}}
{{dir-tree-wrapper role="select" action="selectDir" resolver=resolveSubDirs}}
