<h3>Restore</h4>
<p>Choose a folder to restore <strong>{{name}}</strong> to:</p>
{{#if selected}}
    <p>Selected path: <strong>{{selectedDir}}</strong></p>
{{/if}}
{{dir-tree-wrapper role="select" action="selectDir" resolver=resolveSubDirs}}
{{#if selected}}
    <p><a class="button" {{action "restoreObject"}}>Restore</a></p>
{{/if}}

