<h3>Restore</h4>
<p>Choose a folder to restore <strong>{{name}}</strong> to:</p>
{{#if selected}}
    <p>Selected path: <strong>{{selectedDir}}</strong></p>
{{/if}}
<ul class="dir-tree">
    {{#each container in containersNoTrash}}
        {{dir-tree root=container.name resolver=resolveSubDirs role="select" action="selectDir"}}
    {{/each}}
</ul>
 
{{#if selected}}
    <p><a class="button" {{action "restoreObject"}}>Restore</a></p>
{{/if}}

