<label>
    {{input type="checkbox" checked=isPublic}} 
    <strong>Public on the Internet</strong> Anyone who has the public link can access. No sign-in required. 
</label>
{{#if isPublic}}
<strong>Public link:</strong> <input disabled="disabled" class="large-input" {{bind-attr value=public_link}}>
{{/if}}
