<div class="quotas-container">
	<a class="usg-btn" data-popover-trigger="usage-btn">{{t 'global.prompt_quotas'}}</a>
	{{view 'popover' innerTemplate='total-quotas' position='pos-right' triggerBy='usage-btn' cls='usage-info'}}
</div>
