<div class="row">
<div class="accounts-list columns medium-3">
<ul>
{{#each}}
<li>
{{#link-to 'account.container' user.email }}{{# if user.email }}{{ user.email }}{{ else }}{{ user.id }}{{/if}}{{/link-to}}
</li>
{{/each}}
</ul>
</div>
{{ outlet }}
</div>
