<li class="enabled">
    {{view "select" content=sortFields 
                    optionValuePath="content.value" 
                    optionLabelPath="content.label" 
                    selection=sorting 
                    prompt="Sort containers by"}}
</li>

