<nav class="top-bar" data-topbar="" role="navigation">
    <section class="top-bar-section">
    {{pithos-breadcrumbs container_id=container_id current_path=current_path}}
    <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider"></li>
            <li><a {{action 'showDialog' 'groups' groups}}>{{fa-icon "user"}}</a></li>
            <li><a href="#">{{fa-icon "refresh"}}</a></li>
        </ul>
    </section>
</nav>
