<div class="row">
    <strong>{{#link-to 'objects' ''}}{{name}}{{/link-to}}</strong>
</div>
<div class="row">
    <div class="small-2 columns">
        {{outlet sidebarContainers}}
        {{outlet sidebarGroups}}
    </div>
    <div class="small-10 columns">
        {{outlet}}
    </div>
</div>
