{{outlet "bar"}}
<div class="clearfix">
    <div class="columns small-2 sidebar">
        <ul class="dir-tree">
        {{dir-tree root="/" resolver=resolveSubDirs}}
        </ul>
    </div>

    <div class="columns small-10">
        {{outlet}}
    </div>

</div>

