<ul>
{{#each}}
    <li>
        {{#link-to 'container' this}}{{name}}{{/link-to}}
        Selected project: {{selectedProject.name}}
        <br>Member diskspace: {{selectedProject.diskspace}}

        {{view Ember.Select content=availableProjects
               optionLabelPath="content.name"
               optionValuePath="content.id"
               prompt="Reassign project:"
               selection=selectedProject}}
    </li>
{{/each}}
</ul>

