{{#if listView}}
    <li>
        <div class="wrap clearfix">
            <div class="col name-col">Name</div>
            <div class="col select-col">Project</div>
            <div class="col data-col">Size</div>
            <div class="col date-col">Modified</div>
            <div class="col data-col">Items</div>
            <div class="col actions-col"></div>
        </div>
    </li>
{{/if}}
{{#each container in sortedModel itemController="container" itemView="container"}}{{/each}}
