<header class="header clearfix">
    <div class="lt">
        <div class="logo">
            {{#link-to "containers"}}<img {{bind-attr src=settings.logo_url alt=title }}>{{/link-to}}
        </div>
        <nav>
            <ul>
                <li>{{link-to "projects" "projects"}}</li>
            </ul>
        </nav>
    </div>
    <div class="rt"></div>
</header>
