<header class="header clearfix">
    <div class="lt">
        <div class="logo">
            {{#link-to "containers"}}<img {{bind-attr src=settings.logo_url alt=title }}>{{/link-to}}
        </div>
    </div>
    <div class="rt"></div>
</header>
