<header class="header panel">
    <div class="logo">
        {{#link-to "containers"}}<img {{bind-attr src=settings.logo_url alt=title }}>{{/link-to}}
    </div>
    <nav>
        <ul>
            <li>{{link-to "projects" "projects"}}</li>
            <li>{{link-to "containers" "containers"}}</li>
            <li>{{link-to "groups" "groups"}}</li>
        </ul>
    </nav>
</header>
