{{!-- placeholder is passed as a param from the template wher you put the current view --}}
<input {{bind-attr class='view.errorVisible:error'}} {{bind-attr placeholder=view.placeholder}} type='text'>
<span  {{bind-attr class=':error view.errorVisible::invisible'}}>
	<span class='fa fa-warning'></span>
	<span class='error-msg'>{{view.errorMsg}}</span>
</span>