<h4>{{#link-to 'containers'}}Containers{{/link-to}}</h4>
<ul class="dir-tree">
   {{#each container in sortedContainers}}
        {{dir-tree root=container.name resolver=resolveSubDirs role="nav" click='handleDirClick'}}
    {{/each}}
</ul>

