{{#if listView}}
    <li>
        <div class="wrap clearfix">
            <div class="col name-col">Name</div>
            <div class="col select-col">&nbsp;</div>
            <div class="col data-col">Size</div>
            <div class="col date-col">Modified</div>
            <div class="col data-col">Type</div>
            <div class="col actions-col"></div>
        </div>
    </li>
{{/if}}


{{#each object in sortedModel itemController="object"}}
    {{view "object"}}
{{else}}
    <li>No objects</li>
{{/each}}
<li class="upload-area">{{fa-icon "fa-upload"}} Drag & Drop<br>files to upload </li>
