<div class="top-bar sticky">
    <section class="top-bar-section">
        {{outlet "bar-lt"}}
        <ul class="right top-icons">
            {{outlet "bar-rt"}}
            <li>{{partial "global/group-link"}}</li>
            <li>{{partial "global/group-link"}}</li>
        </ul>
    </section>
</div>
