<div class="popover-container">
    <a data-popover-trigger="shortcuts-btn">
        {{fa-icon "keyboard-o"}}
        <label>Shortcuts</label>
    </a>
    {{view 'popover' innerTemplate='overlays/shortcuts' position='pos-right' triggerBy='shortcuts-btn' cls="shortcuts"}}
</div>
