<div class="popover-container">
    <a class="footer-item icon" data-popover-trigger="shortcuts-btn">{{fa-icon "keyboard-o"}}</a>
    {{view 'popover' innerTemplate='overlays/shortcuts' position='pos-right' triggerBy='shortcuts-btn' cls="shortcuts"}}
</div>