<h3>Object exists</h3>

<p>The object <strong class="u-wrap">{{model.name}}</strong> already exists in its destination location.</p>
<p>How do you want to proceed?</p>

{{#view "buttons"}}
    {{#if controller.versioning}}
        <button class="js-btn-close-modal info" {{action "version" this}}>Create new version</button>
    {{/if}}
    <button class="js-btn-close-modal" {{action "copy" this}}>Create copy</button>
{{/view}}
