<h5>Keyboard shortcuts</h5>
<div class="row">
  <div class="medium-3 columns">
    <span class="label key">n</span>
</div>
  <div class="medium-9 columns">{{t "shortcuts_info.create_new"}}</div>
</div>
<div class="row">
  <div class="medium-3 columns">
    <span class="label key">g</span>
</div>
  <div class="medium-9 columns">{{t "shortcuts_info.show_groups"}}</div>
</div>
<div class="row">
  <div class="medium-3 columns">
    <span class="label key">u</span>
</div>
  <div class="medium-9 columns">{{t "shortcuts_info.show_usage"}}</div>
</div>