.bar {
    @include bar-style();
    height: auto;
    left: 0;
    padding: 0 0 0 $default-padding; 
    position: absolute;
    right: 0;
    top: $header-height;
    z-index: 1;
    .button {
        height: auto;
        padding: 0.5rem 1rem;
        top: auto;
        i {
            margin-right: 4px;
        }
    }

    .top-bar-section {
        .right {
            @media #{$small-up} {
                width: auto;
            }
        } 
    }
    select {
        height: auto;
        margin: 10px;
        padding: 0.5rem 1rem;
        top: 2px;
        width: 200px;
    }
    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
}
