.footer {
    @include bar-style();
    font-size: rem-calc(12);
    margin-top: - $topbar-height;
    position: relative;
    z-index: 99;
    @media #{$medium-up} {
        height: $topbar-height;
    }
    .icon-list {
        li:last-child {
            border-right: 1px solid $gainsboro;
        }
        @media #{$small-only} {
            li, li:last-child {
                border: 0 none;
            }
        }
    }
    .footer-item {
        margin-left: $default-padding;
    }
    .icon i {
        font-size: rem-calc(16);
    }
    .right {
        margin-left: $default-padding/2;
    }
    .themes {
        padding: $default-padding;
        margin-right: $default-padding;
        line-height: inherit;
        position: relative;
        top: 5px;
        i {
            margin: rem-calc(0 4);
        }
    }
    .popover-container {
        >* {
            float: left;
        }
    }
    .copyright {
        clear: both;
        color: $theme-inactive-color;
        font-size: rem-calc(12);
        margin: 0;
        padding: $default-padding;
        text-align: center;
        @media #{$medium-up} {
            clear: none;
            span {
                display: block;
            }
        }
     }
}

