.header {
    background: $theme-header-background;
    height: $header-height;
    left: 0;
    padding: $default-padding;
    position: absolute;
    right: 0;

    nav {
        float: left;
        ul {
            margin: 0;
        }
        li {
            float: left;
            list-style: none outside none;
            padding-left: 20px;
        }
    }

    .logo {
        float: left;
        transition: all 0.2s;
        &:hover {
            transform: scale(1.1);
        }
        img {
            max-height: 40px;
        }
    }
    
}
