$wrap-radius: 1px;
$wrap-bg-color: $theme-primary-color-light;

.popover {
    position: relative;
    right: 0;
    z-index: 1;
    &.no-display {
        display: none;
    }
    .wrap {
        @include box-shadow();
        background-color: $wrap-bg-color;
        display: block;
        max-height: 60vh;
        max-width: 400px;
        padding: 1em;
        position: absolute;
        h5 {
            font-size: 1rem;
            font-weight: bold;
            line-height: 1;
            margin: 0;
        }
        h4, 
        button {
            margin: 0;
        }
        &:before {
            border-style: solid;
            content: "\A";
            position: absolute;
        }
    }
    &.pos-bottom {
        .wrap {
            padding: 20px;
            right: -40px;
            top: 10px;
            &:before {
                border-color: transparent transparent $wrap-bg-color;
                border-width: 0 10px 15px;
                right: 44px;
                top: -12px;
            }

        }
    }
    &.pos-right {
        .wrap {
            @include box-shadow();
            border-radius: $wrap-radius;
            bottom: -23px;
            left: 22px;
            width: 300px;

            &:before {
                border-color: transparent $wrap-bg-color transparent transparent;
                border-width: 10px 15px 10px 0;
                bottom: $wrap-radius;
                left: -15px;
            }
        }
    }
}
